<!DOCTYPE html>
<html lang="ko" >
<head>
    <title>test</title>
</head>
<body>
<h4>나의 셀카</h4>
<hr>
<p style="text-align: center;">나의 셀카</p>
<img src="https://i.namu.wiki/i/izVXkClWRy9-s5DAkC_lGo3za4Zy9seGH1V6AM0qZJzsckE9eWe6-Hp-1OvJm_DkVv7BL7U0Ar7QB89ApaklkQ.webp" width="150"
     height="200" alt="bob">
<img src="https://i.namu.wiki/i/Q6BIqhZWqyhBAFmeZoOWIFO2Ttw1X0xOimLTY0WyohXIadIRIoxaAWc6yoggyEKohkI3aDCoKXsBlp6rvL-MFg.webp"
     width="150" height="200" alt="star">
<img src="https://i.namu.wiki/i/q6dScyMliMSh1m2ikUPKsCj1iKacs_Xa0h53-Z9lRXtuBxHk10lohuvKesmnW2u1GGagy-FY1m8OX_VzlSz4XQ.webp"
     width="150" height="200" alt="crab">
</body>
</html>